<%= render "layouts/header" %>
<div class="header-spacer"></div>

<div class="container">
  <%= link_to 'My Friends', friends_path %>
  <br><br>
  <a href="#">My Events</a>
  <%#= link_to 'My Events', events_path %>
</div>

