.reg-wrapper{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 60px;

  padding: 10px;
  width: 300px;
  border-radius: 5px;
  background: rgba(210,210,210,0.7);
}

.foot-note{
  font-size: 14px;
  margin-top:  20px;
}